/* ===== Mobile Controls ===== */

#mobileControls{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:none;
}

/* Joystick */

#joystick{
    position:absolute;
    left:30px;
    bottom:30px;

    width:140px;
    height:140px;

    border-radius:50%;
    background:rgba(255,255,255,.15);

    pointer-events:auto;
}

#stick{

    width:60px;
    height:60px;

    margin:40px;

    border-radius:50%;

    background:white;
}

/* Nút đánh */

.attackBtn{

    position:absolute;

    right:35px;
    bottom:40px;

    width:75px;
    height:75px;

    border-radius:50%;

    background:#ff4444;

    color:white;

    font-size:28px;

    display:flex;
    justify-content:center;
    align-items:center;

    pointer-events:auto;
}

/* Skill */

.skillBtn{

    position:absolute;

    width:65px;
    height:65px;

    border-radius:50%;

    background:#3399ff;

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    pointer-events:auto;

}

#skill1{

    right:130px;
    bottom:140px;

}

#skill2{

    right:210px;
    bottom:80px;

}

#ultimate{

    right:120px;
    bottom:230px;

    width:85px;
    height:85px;

    background:gold;
    color:black;
    font-weight:bold;

}
